<!DOCTYPE html>
<html UTF-8 lang="en" th:replace="~{fragments/layout :: layout (~{::body},'owners')}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Owners'">Owners List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">Id</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Git</td>
        <td th:text="${owner.lastName}">Gud</td>
    </tr>
    </tbody>
</table>

<a href="/vets/index.html">Pet Doctor</a>
</body>
</html>